@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.swiper-slide {
  transition: all 0.3s ease;
  opacity: 0.4;
}

.swiper-slide-active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
}


.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.9;
}

.swiper-pagination {
  position: relative;
  margin-top: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
  background-color: rgba(107, 114, 128, 0.8) !important;
  width: 48px !important;
  height: 48px !important;
  border-radius: 50% !important;
  transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(75, 85, 99, 0.8) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

